name: PRoot CI
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/termux/package-builder:latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y libtalloc-dev

      - name: Build
        run: |
          cd src
          mkdir -p linux
          curl -Lo linux/ashmem.h https://raw.githubusercontent.com/torvalds/linux/master/drivers/staging/android/uapi/ashmem.h
          sed -i '1i#include <linux/stat.h>' tracee/statx.h
          make CPPFLAGS="-I. -D_GNU_SOURCE -DARG_MAX=131072"

      - name: Verify Binary
        run: |
          ./src/proot --version
