name: PRoot CI
on: [push, pull_request]

jobs:
  native_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libtalloc-dev
      - name: Build
        run: |
          cd src
          make
      - name: Verify Binary
        run: ./src/proot --version
