name: PRoot CI
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/termux/package-builder:latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          apt-get update
          apt-get install -y libtalloc-dev

      - name: Build
        run: |
          # 进入包含 GNUmakefile 的目录
          # 使用 -I. 强制将当前目录加入头文件搜索路径
          cd src
          make CPPFLAGS="-I. -DARG_MAX=131072"

      - name: Verify Binary
        run: |
          ./src/proot --version
